CDabs2
CDabs3
CDabs9
CDbit2
CDbit3
CDbit9
CDdia2
CDdia3
CDdia9
CDpar2
CDpar3
CDpar4
CDpar9
CDped9
CDped3
CDped2
CDpha2
CDpha3
CDpha9
CDuni9
CDuni2
CDuni3
MDmpr2
MDmpr3
MDmpr9
rrst/*.64.a
rrst/*.64.o
util/*.64.a
util/*.64.o
MDsuc2
MDsuc3
MDsuc9
RealDistOrig/
create.script
