/sorted_axo03.RRS.MCR
/sorted_axo03.RS_MCR-sta-dspace.txt
/sorted_den03.RRS.MCR
/sorted_den03.RS_MCR-sta-dspace.txt
/sorted_rea02.RRS.MCR
/sorted_rea02.RS_MCR-sta-dspace.txt
/sorted_test_data.RRS.MCR
/sorted_test_data.RS_MCR-sta-dspace.txt
/tmp_infile
