/test_data.RSF.Data
/test_data.RSF.DataPD
/test_data.RSF.Desc
/test_data.RSF.DirPD
/test_data.RSF
/tmp_infile
/axo03.RSF.LTR
/rea02.RSF.LTR
/axo03.RS_sky-dead_sorted.txt
/axo03.RS_sky-dead.txt
/rea02.RS_sky-dead_sorted.txt
/rea02.RS_sky-dead.txt
/rea02.RSF
/rea02.RSF.Data
/rea02.RSF.DataPD
/rea02.RSF.Desc
/rea02.RSF.DirPD
/axo03.RS_stair-dead.txt
/rea02.RS_stair-dead.txt
/test_data.RS_stair-dead.txt
/*_output
/rea02.RSF.LTR
/test_data.RSF.ASC
/rea02_output
/rea02.RSF.LTR
/axo03.RSF.LTR
/axo03_output
/rea02.RSF.LTR
/rea02_output
/QRT_test_data.RSF.ASC
/QRT_test_data.RS_stair-dead.txt
/test_data.RRS.MCR
/test_data.RS_MCR-sta-dspace.txt
